<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/StyleSupport.css">
    <title>Hỗ trợ ứng dụng của bạn</title>
</head>

<body>
    <h1>Trang hỗ trợ ứng dụng của bạn</h1>
    <p>Liên hệ với chúng tôi:</p>
    <div class="contact-info">
        <p>Số điện thoại:0879175310</a></p>
        <p>Email:vuthanhnam21022019@gmail.com</a></p>
    </div>
</body>

</html>